body{
    background-color: #ddd!important;
    color: #474747 !important;
    font-weight: 600;

}

a:hover{
    text-decoration: none;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    vertical-align:top;
    font-size:35px;
    line-height:18px;
}

.navbar .navbar-brand {
    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.bg-dark-10{
    background-color: rgb(10, 10, 10);
}

.bg-dark-20{
    background-color: rgb(20, 20, 20);
}

.bg-dark-50{
    background-color: rgb(50, 50, 50);
}

.glow,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(0, 240, 120, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 240, 120, 0.6);
    outline: 1px red;
}

/* Sticky Footer */
footer {
    position: fixed;
    height: 58px;
    bottom: 0;
    width: 100%;
}
.muted-a{
      color: #474747;
      text-decoration: none;
  }
.muted-a:hover{
    color: #00f078;
    text-decoration: none;
}
.dropdown-toggle::after {
    border-top: 6px solid #00f078;
}
.navbar .dropdown-menu a {
    text-align: center;
    font-weight: 600;
}

/* Pulsing Animation */
.pulsate {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }
}

/*Helpers*/
.box-shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.box-outline{
    border: 1px inset #00f078;
}

.box-dark{
    background-color: #141414;
}

.breadcrumb{
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    border: 1px inset #00f078;
    border-radius: 0;
}
.card{
    border-radius: 0;
}

.card-header{
    padding: 12px;
    color: rgba(255,255,255,0.5);
    background-color: #141414;
}

.card-body{
    background-color: #ddd;
}

/* Table Style*/
.table{
    margin: 0;
}
.table th, .category-link{
    background-color: #141414;
    color: rgba(255,255,255,0.5);
}
.category-link{
    padding: 12px;
}
.category-description{
    padding-left: 12px;
}
.table th.category-name,
.table th.topic-name{
    width: 50%;
}
.table th.topics,
.table th.posts,
.table th.mark,
.table th.views {
    width: 10%;
    text-align: center;
}
.table th.replies {
    width: 12%;
}
.table th.lastpost {
    width: 25%;
}
.forum-title {
    margin-left: 10px;
    overflow: hidden;
}
.forum-desc {
    margin-left: 10px;
    overflow: hidden;
}

.table th.topics,
.table td.topics,
.table th.posts,
.table td.posts,
.table th.replies,
.table td.replies,
.table th.views,
.table td.views,
.table th.selecting,
.table td.selecting,
.table th.marking,
.table td.marking {
    text-align: center;
    vertical-align: middle;
}
.table td.forums{
    vertical-align: middle;
}
th.category-name,
td.category-name,
th.topic-name,
td.topic-name {
    width: 50%;
}
.table-striped tbody tr:nth-of-type(odd) {
     background-color: #ddd;
 }
.table-striped tbody tr:nth-of-type(even) {
    background-color: #ddd;
}
.table td {
    padding: 0;
    padding-left: .75rem;
    padding-right: .75rem;
}

/* Statistics Card*/
.statistics{
    padding: 12px;
    color: rgba(255,255,255,0.5);
}

/* Hide Scrollbars*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.container {
    -ms-overflow-style: none;  // IE 10+
scrollbar-width: none;  // Firefox
}
.container::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.breadcrumb-item.active{
    color: rgba(255,255,255,0.5);
}

.card-header{
    color: rgba(255,255,255,0.5);
}

/* Sortable Nodes*/
.sortable_nodes{
    list-style: none;
}
.category_node{
    background-color: #00f078;
}
.forum_node{
    background-color: #141414;
}
.ui-state-highlight{
    background-color: #0f93a9;
}
