body{
    background-color: #ddd!important;
    color: #474747 !important;
    font-weight: 600;
}
.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    vertical-align:top;
    font-size:35px;
    line-height:18px;
}

.navbar .navbar-brand {
    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.bg-dark-10{
    background-color: rgb(10, 10, 10);
}

.bg-dark-20{
    background-color: rgb(20, 20, 20);
}

.bg-dark-50{
    background-color: rgb(50, 50, 50);
}

.glow,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(0, 240, 120, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 240, 120, 0.6);
    outline: 1px red;
}

/* Sticky Footer */
footer {
    position: fixed;
    height: 58px;
    bottom: 0;
    width: 100%;
}

.muted-a{
      color: #474747;
      text-decoration: none;
  }
.muted-a:hover{
    color: #00f078;
    text-decoration: none;
}

.dropdown-toggle::after {
    border-top: 6px solid #00f078;
}

.navbar .dropdown-menu a {
    text-align: center;
    font-weight: 600;
}


/* Pulsing Animation */
.pulsate {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }
}
